@use "presets" as *;
@use "mixins" as *;

.film-info {
position: relative;

  overflow: hidden;

  font-size: 1.2em;

  &__wrapper {
white-space: nowrap;

    &:not(:last-of-type) {
margin-right: $gap;
    }
  }

  &__badge {
font-size: 0.8em;
  }
}

.film-comment-form {
&__button {
float: right;
  }
}
